@import "../adaptiveMixin.scss";

.button2 {
    @include adaptiveFontSize(15,18);
    display: inline-block;	
    outline: none;
    border: none;  
    border-radius: 6px;
    line-height: 40px;
    font-weight: 300;
    text-decoration: none;
    color: black;
    background-color: #b2b4b8;
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
    border: 1px solid #b2b4b8;
    &:hover {
        background-color: #a9aaac;
    }
    &:active {
        transform: scale(0.96);
    }
    &:disabled {
        background-color: #a9aaac;
    }
}