.title{
    background-color: #d5d7d2;
    padding-bottom: calc(15px + 20 * (100vw / 1349));
    padding-top: calc(5px + 10 * (100vw / 1349));
    text-align: center;
}
.title__span{
    font-size: calc(30px + 10 * (100vw / 1349));
    text-decoration: none;
    color:black;
    font-weight: 300;
}
@media (max-width: 767px){
    .title{
        padding-bottom: calc(15px + (20 + 20 * 0.7) * ((100vw - 320px) / 1349));
        padding-top: calc(5px + (10 + 10 * 0.7) * ((100vw - 320px) / 1349));
    }
    .title__span{
        font-size: calc(30px + (15 + 10 * 0.7) * ((100vw - 320px) / 1349));
    }
}
