@import '../../common/adaptiveMixin.scss';

.basketProduct{
    border:1px solid #b2b4b8;
    background-color: #d5d7d2;
    font-weight: 300;
    text-align: left;
    @include adaptiveFontSize(15,18);
    img {
        width: 100%;
    }
    &__text{
        margin-left: 10px;
        margin-bottom: 20px;
    }
    &__color{
        height:adaptiveFontSize(10,13);
        @include adaptiveWidthHeight(20,25);
        background-color:#6e903b;
    }
    &__button{
        margin-left: 10px;
    }
}